[submodule "ocre-sdk"]
	path = ocre-sdk
	url = https://github.com/project-ocre/ocre-sdk.git
[submodule "QCBOR"]
	path = QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "edge-impulse-sdk"]
	path = edge-impulse-sdk
	url = https://github.com/atym-io/edge-impulse-sdk.git
